.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  margin-top: 10%;
}

.form-container:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

input[type="text"] {
  width: 50vh;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
}

#next-line {
  margin: 10px;
}

.avatarImage {
  height: 10vh;
  border-radius: 50%;
  padding-left: 3vh;
  margin-right: 3vh;
}

#Description {
  height: 10vh;
  width: 100%;
  max-height: 10vh;
  min-height: 10vh;
  border: none;
  outline: none;
  resize: none;
  font-size: 2vh;
}

#Description:focus {
  border: none;
  outline: none;
}

.fromModal {
  margin-left: -4vh;
}

.firstName {
  margin-left: -3vh;
}

.onModal {
  height: 8vh !important;
}

.post {
  width: 500px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin: 50px auto;
  background-color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -1.5vh;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.post-date {
  font-size: 12px;
  color: #888;
}

.post-content {
  margin: 10px 0;
  line-height: 1.5;
}

.post-actions button {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.post-actions button:hover {
  background-color: #e0e0e0;
}

#addPost {
  margin: 50px auto;
}

#addPost {
  display: flex;
  align-items: center;
  margin: 50px auto;
  justify-content: center;
}

.file-drop-zone {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.file-drop-zone.dragover {
  background: #e9ecef;
}

#file {
  display: none;
}

.thumbnail {
  max-width: 100px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.postDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}

.postButton {
  width: 100%;
  color: white;
  cursor: pointer;
  height: 6vh;
}

.close {
  border: none;
  background-color: white;
  border-radius: 50%;
}

.thumbnail-container {
  position: relative;
  display: inline-block;
}

.fileCross {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  );
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

#searchUser{
  border: solid;
}

#headdings{
  position: absolute;
  top: 15vh;
  left: 5vh;
}

.deleteButton{
  cursor: pointer;
}
